* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container {
  background-color: #39A7FF;
  border-color: black;
  margin: 10px;
  padding: 10px;
}

.note-form {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-form #formTitle {
  margin-bottom: 10px;
}

#title {
  background-color: #FFEED9;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

#notes {
  background-color: #FFEED9;
  border-radius: 5px;
  padding: 5px;
}

#isArchived {
  margin-right: 5px;
}

#noteFormSubmitButton {
  background-color: #87C4FF;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
}

.note-search {
  width: 80%;
}

#searchBar {
  background-color: #FFEED9;
  margin-right: 10px;
  padding: 10px;
}

#searchBarButton {
  background-color: #87C4FF;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
}

.note-active {
  width: 80%;
  text-align: center;
}

.note-archived {
  width: 80%;
  text-align: center;
}

.note-item {
  background-color: white;
  margin: 20px 10px;
  padding: 20px 10px;
}

.note-item-with-action {
  background-color: #E0F4FF;
  margin: 20px 10px;
  padding: 20px 10px;
  text-align: left;
}

.action-button-container {
  margin: 5px 10px;
}

.action-button {
  border: white;
  font-size: medium;
  color: white;
  font-weight: bold;
  padding: 10px;
  width: 200px;
}

#noteActionButton {
  background-color: green;
}

#noteDeleteButton {
  background-color: red;
}
